version: "1.0"

services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
      POSTGRES_DB: mezon-tutors
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - 6543:5432

volumes:
  postgres-data:
